body {
  grid-template-rows: max-content 1fr;
  grid-template-columns: max-content 100vw;
  grid-template-areas:
    "nav-header header"
    "nav body"
  ;
  overflow: hidden;
  background-color: var(--root-color);
}

nav {
  grid-area: nav;
}

.body {
  grid-area: body;
}

header {
  grid-area: nav-header / nav-header / header / header;
}

.overlay {
  grid-area: header / header / body / body;
}