.uppercase {
  text-transform: uppercase;
}

.m-0 {
  margin: 0;
}

.flex-spacer {
  flex: 1 1 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.space-around {
  justify-content: space-around;
}

.align-strech {
  align-items: stretch;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.v-middle {
  vertical-align: middle;
}

.absolute {
  position: absolute;
}

.t-0 {
  top: 0;
}

.l-0 {
  left: 0;
}

.r-0 {
  right: 0;
}

.b-0 {
  bottom: 0;
}

.opacity-1 {
  opacity: 0.1;
}

.grid {
  display: grid;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.hidden {
  display: none;
  transform: translate(-100%);
  /* translate: 100%; */
}

.overflow-none {
  overflow: none;
}