.uppercase {
  text-transform: uppercase;
}

.m-0 {
  margin: 0;
}

.m-0_5 {
  margin: 0.5rem;
}

.p-m {
  padding: 1rem;
}

.flex-spacer {
  flex: 1 1 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grow {
  flex-grow: 1;
}

.space-around {
  justify-content: space-around;
}

.align-strech {
  align-items: stretch;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.v-middle {
  vertical-align: middle;
}

.absolute {
  position: absolute;
}

.t-0 {
  top: 0;
}

.l-0 {
  left: 0;
}

.r-0 {
  right: 0;
}

.b-0 {
  bottom: 0;
}

.opacity-1 {
  opacity: 0.1;
}

.grid {
  display: grid;
}

.h-l {
  height: 8rem;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.hidden {
  display: none;
  transform: translate(-100%);
}

.overflow-none {
  overflow: hidden;
}

.text-none {
  text-decoration: none;
}

.color-inherit {
  color: inherit;
} 

.pointer {
  cursor: pointer;
}

.mono {
  font-family: monospace;
}

.shadow {
  margin: 2em;
  box-shadow: 1em 1em 1em var(--root-shadow-color),
              -1em -1em 1em var(--root-highlight-color);
}

.shadow-inset {
  box-shadow: 0.5em 0.5em 0.5em var(--root-shadow-color) inset,
             -0.5em -0.5em 0.5em var(--root-highlight-color) inset;
}

.round-l {
  border-radius: 8rem;
}

.round-m {
  border-radius: 3em;
}