---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>{% if page.title != null %} {{ page.title }} | {% endif %} Hi, I'm Jonathan</title>
  <link rel="stylesheet" href="/assets/utils.css">
  <link rel="stylesheet" href="/assets/default.css">
  <link rel="stylesheet" href="/assets/colors.css">
  <script src="/assets/nav.js" async defer></script>
  {% include header/style.html %}
  {% include nav/style.html %}
  {% if page.head %}
    {% include {{ page.head }} %}
  {% endif %}
</head>
<body class="grid w-screen h-screen m-0" >
  {% include header/index.html %}
  {% include nav/index.html %}
  {{ content }}
  <div class="nav overlay hidden" style="background-color: #35210b66; z-index: 0;" ></div>
  <!-- TODO: add a child that takes up the same grid area as the body with a .nav class -->
</body>
</html>